span{
    color:#E76F51;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.head{
    background-color: #264653;
}

.hero-section{
    background-color: #264653;
    color:#fff;
}
.nav-link{
    color:#fff;
    padding:10px 20px!important;
}
.nav-link:hover{
    color: #fff!important;
}
.button{
    background-color: #E76F51;
    color:#fff;
    margin-left:30%!important;
}
.navbar-nav{
    margin-left: 58%;
}
/* -------- hero-section start-------- */
.hero-section p{
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
    font-weight: 200;
}
.hero-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.Purchase-btn{
     padding:12px 30px;
    background-color: #E76F51;
    text-decoration: none;
    color:#fff;
    font-family: 'Poppins', sans-serif;
     font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}
/* -------- hero-section end -------- */

/*-------------- feature-section start --------------*/ 
.feature-content p{
    color:#E76F51;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom:.1px!important;
}
.feature-content hr{
    color:#E76F51;
    width:7%;
    margin:auto;
    height:3px;
}
.img-gray{
  filter: grayscale(100%);
  
}
.honda{
    width:100%;
    margin:auto;
    
}
/*-------------- feature-section end --------------*/ 

/* ------------ Latest News section start -------------*/
.button-2{
    border:2px solid #E76F51;
    color:#E76F51;
      font-family: 'Poppins', sans-serif;
    font-weight: 400;
    Padding:11px 30px;
}
.button-2:hover{
    background-color: #E76F51;
    color:#FFF;
}
/* ------------ Latest News section end -------------*/

/* ------------ Happy-Clients section start ------------ */
.icon{
    color:#E76F51;
}
.clients-name{
     font-family: 'Poppins', sans-serif;
    font-weight: 600;
     font-size: 18px;
}
.client-profession{
      font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
/* ------------ Happy-Clients section end ------------ */
/*-------------- TOP-SPORTS section start -------------- */
.sports-btn{
    padding:12px 25px;
    background-color: #E76F51;
    text-decoration: none;
    color:#fff;
}
/*-------------- TOP-SPORTS section end -------------- */
/* font-family: 'Poppins', sans-serif; */